body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.font-link1{
  font-family: 'Noto Sans', sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
